<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Internship Test </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Comforter&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Serif+4:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
            rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/234be40154.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles/index.css">


</head>


<body>




    <div class="container-fluid">




     <div class="row bar" >

         <div class="col-12 col-sm-7 col-md-5 col-lg-4 ok3" style="text-align: left" >
             <img class="image" src="https://hodlinfo.com/static/media/HODLINFO.8f78fc06.png">
         </div>
         <div class=" col-12  col-md-2 col-lg-4 ok4">
             <div class="row ok7" style="text-align: center">
                 <div class="col-lg-6 col-md-12 col-6 ok1" style="text-align: center; padding: 0 ">
                     <div class="dropdown">
                         <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             INR
                         </button>
                         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                             <a class="dropdown-item" href="#">INR</a>

                         </div>
                     </div>
<!--                     <button type="button" class="btn btn-dark">INR  sddvf</button>-->
                 </div>
                 <div class="col-lg-6 col-md-12 col-6 ok2" style="padding:0; text-align: center">
                     <div class="dropdown">
                         <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             TRX
                         </button>
                         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                             <a class="dropdown-item" href="#">TRX</a>
                             <a class="dropdown-item" href="#">BTC</a>
                             <a class="dropdown-item" href="#">ETH</a>
                             <a class="dropdown-item" href="#">USDT</a>
                             <a class="dropdown-item" href="#">XRP</a>
                             <a class="dropdown-item" href="#">DASH</a>
                             <a class="dropdown-item" href="#">ZEC</a>
                             <a class="dropdown-item" href="#">XEM</a>
                             <a class="dropdown-item" href="#">IOST</a>
                             <a class="dropdown-item" href="#">WIN</a>
                             <a class="dropdown-item" href="#">BTT</a>
                             <a class="dropdown-item" href="#">WRX</a>
                         </div>
                     </div>
<!--                     <button type="button" class="btn btn-dark">BTC fsvsdf</button>-->
                 </div>
             </div>

         </div>

         <div class="col-12 col-sm-12 col-md-5 col-lg-4 ok9">

             <div class="row hp">
                 <div class="col-4 " style="padding: 0">

                    <h4 id="dem"></h4>
                 </div>
                 <div class="col-8 " style="text-align: center;padding: 0">
                     <button id="but-4"type="button" class="btn btn-dark  btn-block " style="background-color: #3dc6c1"><i class="fab fa-telegram-plane fa-fw"></i>Join Telegram</button>
                 </div>
<!--                 <div class="col-3 col-md-12 col-lg-3" style="padding: 0">-->
<!--                     <label class="switch">-->
<!--                         <input type="checkbox">-->
<!--                         <span class="slider round"></span>-->
<!--                     </label>-->
<!--                 </div>-->
             </div>

         </div>



     </div>
        <a target="_blank" href="https://finstreet.in/"><img src="https://hodlinfo.com/static/media/cryptonews.54869ee3.png" style="width: 100%; padding: 5% 0 5% ;"></a>


            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last</th>
                    <th scope="col">Buy/Sell Price</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Base Unit</th>

                </tr>
                </thead>
                <tbody>
                <%let fl=0%>
                <% data.forEach(function(val){  %>
                    <tr>
                        <td><%= ++fl %></td>
                        <td><%= val.name %></td>
                        <td><%= val.last %></td>
                        <td><%= `${val.buy}/${val.sell}` %></td>
                        <td><%= val.volume %></td>
                        <td><%= val.base_unit %></td>
                    </tr>
                <%})%>


                </tbody>
            </table>

        <a target="_blank" href="https://www.algorand.com/futurefi/"><img src="https://hodlinfo.com/static/media/banneriost.208a75ba.jpg" style="width: 100%;padding: 5% 0 5% "></a>


    </div>




<script src="index.js" charset="utf-8"></script>


</body>

</html>
